@media (min-width: 900px) {
    .container {
        background-color: skyblue;
    }
}

@media (max-width: 899px) {
    .container {
        background-color: Aquamarine;
    }
}

$color: darkgreen;

ol {
    font-size: 18px;
    color: $color;
}


ul {
    font-size: 12px;
    color: $color;
}
